# Copy this file to .env and fill in your values
# NEVER commit .env to GitHub — it is in .gitignore

AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_BUCKET=ecommerce-intelligence-yourname
AWS_REGION=us-west-2
API_KEY=your-secret-api-key-here
FLASK_ENV=development
